<mat-toolbar color="primary">
  <span>Cert Prep - Practice Tests</span>
  
  <span class="spacer"></span>
  
  <ng-container *ngIf="isLoggedIn; else notLogged">
    <button mat-button routerLink="/profile">Profile</button>
    <button mat-button routerLink="/tests">All Tests</button>
    @if (isAdmin) {
      <button mat-button routerLink="/admin">Admin</button>
    }
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
  
  <ng-template #notLogged>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/register">Register</button>
  </ng-template>
</mat-toolbar>